{{extend 'layout.html'}}
{{=H3(T('Terms of use'))}}
{{#=BEAUTIFY(response._vars)}}
<div style="text-align: justify;">
<hr />
<span style="color: #888888;"><strong>La biblioteca es un espacio público del Centro destinado fundamentalmente a la lectura y consulta de material bibliográfico. Los alumnos prefieren utilizarlo para preparar sus exámenes y ejercicios de clase, y aunque esta práctica no es realmente la finalidad para la que está diseñada la biblioteca, y como no existe en el Centro ningún espacio destinado al estudio, damos por bueno este uso que sirve para acercar al alumno al libro. Pero toda aquella persona que acuda a la biblioteca debe conocer las normas que hacen de la biblioteca un lugar de tranquilidad y silencio que invita a la lectura.<br /></strong></span></div>
<div style="text-align: justify;">
<hr />
</div>
<div style="text-align: center;">
<table border="0">
<tbody>
<tr>
<td><img alt="horario" src="/abiesweb/static/images/horario.jpg" height="116" width="125" /></td>
<td style="background-color: #fee8fe;">
<div style="text-align: justify;"><strong><span style="color: #888888;">Los periodos en los que se abre la biblioteca coinciden con los dos recreos, de 10:20 a 10:35 y de 12:25 a 12:40. Se aconseja entrar en la misma en los primeros minutos del recreo, no tiene sentido hacerlo para leer o estudiar en los cinco últimos minutos, a no ser que sea para hacer alguna devolución o préstamo.</span></strong></div>
<div style="text-align: justify;"><strong><span style="color: #888888;">Para el préstamo, una vez elegido el libro, el profesor de guardia procederá a registrarlo; el plazo de devolución es de un mes. En caso de pérdida o deterioro deberemos abonar su valor o reponer el ejemplar.<br /></span></strong></div>
<div style="text-align: justify;"></div>
</td>
</tr>
<tr>
<td><img alt="vdjsjhxmda9" src="/abiesweb/static/images/vdjsjhxmda9.gif" height="139" width="125" /></td>
<td style="border: 1px solid #ffffff; background-color: #ebfefe; text-align: justify;"><span style="color: #888888;"><strong>E</strong><strong>n la bilioteca se debe mantener un silencio absoluto, no debemos olvidar que es un espacio público y que podemos molestar a los demás lectores. La biblioteca no es un aula ni un pasillo, ni el patio ni el bar; para leer se necesita tranquilidad y silencio.</strong></span></td>
</tr>
<tr>
<td><img alt="prohibido_comer" src="/abiesweb/static/images/prohibido_comer.gif" height="99" width="99" /></td>
<td style="background-color: #dffdd7; text-align: justify;"><strong><span style="color: #888888;">Aunque el horario es desgraciadamente de recreo, no debemos llevar comida o bebida. Aparte de ser de mala educación, podemos ensuciar el suelo o el mobiliario y los libros que usemos.</span></strong></td>
</tr>
<tr style="text-align: justify;">
<td><img alt="Mobiliario_griego" src="/abiesweb/static/images/Mobiliario_griego.jpg" height="106" width="125" /></td>
<td style="background-color: #fcface;">
<div><strong><span style="color: #888888;">Debemos respetar la colocación y el orden de las mesas y sillas, por ello no las moveremos NUNCA de su sitio. Los libros se pueden sacar de sus estantes pero debemos dejarlos, una vez hayamos terminado, en el estante donde estaban. </span></strong></div>
<div><strong><span style="color: #888888;">Para asegurarnos de que lo dejamos en su lugar original, abriremos el libro y veremos en las primeras páginas dos números: el primero es el número de registro y lleva delante la letra R. Debajo hay otros dos números separados con un guión: el primero indica la estantería y el segundo la balda en el que está ubicado por ejemplo, 54 - 3 significa estantería 54 balda 3. Estos mismos números los veremos en las pegatinas que hay dentro de cada estantería.</span></strong></div>
</td>
</tr>
<tr>
<td><img alt="a-la-papelera" src="/abiesweb/static/images/a-la-papelera.jpg" height="167" width="125" /></td>
<td style="background-color: #f8e1fe;">
<div style="text-align: justify;"><span style="color: #888888;"><strong>Por último debemos mantener la limpieza en la biblioteca y no arrojar papeles o cualquier otra suciedad al suelo; a la entrada encontraréis una papelera para este menester. Tampoco debemos ensuciar las mesas con bolígrafos o rotuladores, ni tatuar las mesas.</strong></span></div>
<div style="text-align: justify;"><span style="color: #888888;"><strong><br /></strong></span></div>
<div style="text-align: justify;"><span style="color: #888888;"><strong> Si todos respetamos estas normas conseguiremos un espacio de silencio, tranquilidad y limpieza que nos permitirá concentrarnos en el estudio y la lectura.</strong></span></div>
</td>
</tr>
</tbody>
</table>
</div>
<div>
<hr />
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
